*

!.bash_profile
!.bashrc
!.config/aliasrc
!.config/bmdirs
!.config/bmfiles
!.config/calcurse/conf
!.config/calcurse/keys
!.config/dunst/dunstrc
!.config/emoji
!.config/fontawesome
!.config/fontconfig/fonts.conf
!.config/getkeys/calcurse
!.config/getkeys/i3
!.config/getkeys/mutt
!.config/getkeys/ncmpcpp
!.config/getkeys/newsboat
!.config/getkeys/sxiv
!.config/getkeys/zathura
!.config/gtk-2.0/gtkrc-2.0
!.config/gtk-3.0/settings.ini
!.config/i3/config
!.config/i3blocks/config
!.config/mimeapps.list
!.config/mpd/mpd.conf
!.config/mpv/input.conf
!.config/ncmpcpp/bindings
!.config/ncmpcpp/config
!.config/newsboat/config
!.config/newsboat/urls
!.config/nvim/.netrwhist
!.config/nvim/autoload/plug.vim
!.config/nvim/init.vim
!.config/nvim/plugged/goyo.vim
!.config/nvim/plugged/i3-vim-syntax
!.config/nvim/plugged/nerdtree
!.config/nvim/plugged/sxhkd-vim
!.config/nvim/plugged/vifm.vim
!.config/nvim/plugged/vim-airline
!.config/nvim/plugged/vim-commentary
!.config/nvim/plugged/vim-surround
!.config/nvim/plugged/vimagit
!.config/nvim/plugged/vimling
!.config/nvim/plugged/vimwiki
!.config/sxhkd/sxhkdrc
!.config/sxiv/exec/key-handler
!.config/user-dirs.dirs
!.config/vifm/colors/luke.vifm
!.config/vifm/vifmrc
!.config/vifm/colors
!.config/vifm/scripts
!.config/vifm/vifm-help.txt
!.config/vifm/vifminfo
!.config/vifm/vifmshortcuts
!.config/wall.png
!.config/zathura/zathurarc
!.gitignore
!.icons/default/index.theme
!.inputrc
!.local/bin/SCRIPTS.md
!.local/bin/cron/IMPORTANT_NOTE.md
!.local/bin/cron/checkup
!.local/bin/cron/cronbat
!.local/bin/cron/crontog
!.local/bin/cron/newsup
!.local/bin/i3cmds/cabl
!.local/bin/i3cmds/camtoggle
!.local/bin/i3cmds/ddspawn
!.local/bin/i3cmds/displayselect
!.local/bin/i3cmds/dmenumount
!.local/bin/i3cmds/dmenurecord
!.local/bin/i3cmds/dmenuumount
!.local/bin/i3cmds/dmenuunicode
!.local/bin/i3cmds/dropdowncalc
!.local/bin/i3cmds/ducksearch
!.local/bin/i3cmds/hover
!.local/bin/i3cmds/i3resize
!.local/bin/i3cmds/killrecording
!.local/bin/i3cmds/maimpick
!.local/bin/i3cmds/prompt
!.local/bin/i3cmds/samedir
!.local/bin/i3cmds/showclip
!.local/bin/i3cmds/td-toggle
!.local/bin/i3cmds/tmuxdd
!.local/bin/i3cmds/toggletouchpad
!.local/bin/i3cmds/torwrap
!.local/bin/i3cmds/tutorialvids
!.local/bin/i3cmds/winresize
!.local/bin/statusbar/battery
!.local/bin/statusbar/clock
!.local/bin/statusbar/cpu
!.local/bin/statusbar/disk
!.local/bin/statusbar/help
!.local/bin/statusbar/internet
!.local/bin/statusbar/iplocate
!.local/bin/statusbar/mailbox
!.local/bin/statusbar/memory
!.local/bin/statusbar/mpdupdate
!.local/bin/statusbar/music
!.local/bin/statusbar/news
!.local/bin/statusbar/pacpackages
!.local/bin/statusbar/popupgrade
!.local/bin/statusbar/torrent
!.local/bin/statusbar/volume
!.local/bin/statusbar/weather
!.local/bin/tools/autoclicker.sh
!.local/bin/tools/bluetooth-toggle
!.local/bin/tools/compiler
!.local/bin/tools/dmenuhandler
!.local/bin/tools/dmenupass
!.local/bin/tools/ext
!.local/bin/tools/extract
!.local/bin/tools/getbib
!.local/bin/tools/getkeys
!.local/bin/tools/ifinstalled
!.local/bin/tools/linkhandler
!.local/bin/tools/lmc
!.local/bin/tools/lockimage.png
!.local/bin/tools/lockscreen.sh
!.local/bin/tools/opout
!.local/bin/tools/pauseallmpv
!.local/bin/tools/podentr
!.local/bin/tools/qndl
!.local/bin/tools/queueandnotify
!.local/bin/tools/remaps
!.local/bin/tools/rotdir
!.local/bin/tools/rssadd
!.local/bin/tools/setbg
!.local/bin/tools/shiftasciimov
!.local/bin/tools/shortcuts
!.local/bin/tools/texclear
!.local/bin/tools/transadd
!.local/bin/tools/vifmimg
!.local/bin/tools/vu
!.local/bin/ttymaps.kmap
!.local/bin/unix
!.local/share/applications/img.desktop
!.local/share/applications/mail.desktop
!.local/share/applications/pdf.desktop
!.local/share/applications/rss.desktop
!.local/share/applications/text.desktop
!.local/share/applications/torrent.desktop
!.local/share/larbs/larbs.png
!.local/share/larbs/readme.mom
!.profile
!.tmux.conf
!.vim
!.vimrc
!.xinitrc
!.xprofile
!.zprofile
